<%= render 'shared/navbar' %>
<div class="container d-flex flex-column bd-highlight mb-3 head-container">
  <h1 id="main-header">Paulo Rivera</h1>
  <%= image_tag 'pp.jpg', id: 'header-avatar' %>
  <h2 class="main-header-sub">Full-Stack Web Developer</h2>
  <p class="main-header-p">Based in Tokyo, persuing my dream to become a great developer and help people with their businesses!</p>
  <div class="more-button-div">
  <%= link_to image_tag("more_arrow.svg", anchor: "projects_div", class: 'more-button') %>
  </div>
</div>
  <h3 id="projects" class="main-header-sub">Recent Projects</h3>
  <div class="row cards">
    <% @projects.each do |project| %>
      <%= render 'shared/project_card', project: project %>
    <% end %>
  </div>
  <h3 id="contact" class="main-header-sub">Contact Me</h3>
  <div id="contact-div">
    <%= render 'shared/contact_section' %>
  </div>

<div class="contact-form">
  <%= render 'shared/contact_form' %>
</div>
