<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Full-Stack Developer and Project Manager, based in Tokyo, Japan">
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <meta name="keywords" content="Paulo Rivera, developer,Ruby on Rails, RoR, HTML, JavaScript, Jose Paulo Ovalle Rivera, Jose Ovalle Rivera, paulo rivera, desarrollador, ruby, tokyo dev, guatemala dev, guatemalan developer">
    <meta name="author" content="Paulo Rivera">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto:400,900&display=swap" rel="stylesheet">
    <title>Jose Paulo Ovalle Rivera</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
